<html>
<head>
  <title>Defitjo Caeser Cipher</title>
</head>
<body>
  <h1>Caeser Cipher</h1>
   <div>
     <form>
       <h3>Enter text to encrypt</h3>
       <input type="text" name="text">
       <h3>Enter amount to shift by</h3>
       <input type="text" name="shift">
       <input type="submit" value="Top Secret!">
	 </form>
  </div>
  <p><%= enciphered %></p>
</body>
</html>